.mainContent {
  display: flex;
  flex-grow: 32;
  justify-content: center;
  align-items: center;
  padding: 10% 25%;
}

.quoteHolder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-family: "Playfair Display", serif;
}

.quoteHolder .author {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
}

.quoteHolder .quote {
  font-weight: 500;
}

/* Font for desktop */
@media (min-width: 768px) {
  .quoteHolder {
    font-size: 7vh;
  }
}

/* Font for mobile */
@media (max-width: 767px) {
  .quoteHolder {
    font-size: 4.3vh;
  }
}
