.mainContent {
  display: flex;
  flex-grow: 32;
  justify-content: center;
  align-items: center;
  padding: 10% 25%;
}

.quoteHolder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-family: "Playfair Display", serif;
}

.quoteHolder .author {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
}

.quoteHolder .quote {
  font-weight: 500;
}

/* Font for desktop */
@media (min-width: 768px) {
  .quoteHolder {
    font-size: 7vh;
  }

  .button {
    width: 70px;
    height: 70px;
    font-size: 50px;
  }
}

/* Font for mobile */
@media (max-width: 767px) {
  .quoteHolder {
    font-size: 4.3vh;
  }

  .mainContent {
    padding: 5%;
  }

  .button {
    width: 50px;
    height: 50px;
    font-size: calc(5/7 * 50px);
  }
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5%; 
    background-color: rgba(255, 255, 255, 0.095);
    color: white;

    border: 1px;
    border-radius: 50%;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.buttonHolder {
    display: flex;
    justify-content: flex-end;
}